<h2>{{session.name}}</h2>
<div>{{session.track}}</div>
<div>Prévue le {{session.date | date:'d MMM y'}}  pendant {{session.duree}} jours à {{session.adress}}</div>
<div *ngIf="session.participants<20;then b1 else b2"></div>
<ng-template #b1>Encore {{20-session.participants}} places sont disponibles</ng-template>
<ng-template #b2>Session complète!</ng-template>
<div>{{session.participants}} participants</div>
<div class="tools">
 
<!-- <a *ngIf="session.participants<20" class="inscrire" (click)="inscrire()">
 Inscription
 </a>-->
 <a class="delete" (click)="onDelete()">
   Suppression
   </a>
 <!--<a [appInscriptionDisableDirective]="session.isCompleted" class="inscrire" (click)="inscrire()">
    Modification
    </a>-->
    <a [routerLink]="['../edit', session.id]" 
routerLinkActive="active" class="inscrire">
 Modification
</a>

</div>
